---
BasedOnStyle: Mozilla
AccessModifierOffset: '2'
AlignTrailingComments: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakBeforeMultilineStrings: 'false'
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: 'false'
ColumnLimit: '120'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
ConstructorInitializerIndentWidth: '2'
ContinuationIndentWidth: '2'
IndentCaseLabels: 'false'
IndentWidth: '2'
Language: Cpp
MaxEmptyLinesToKeep: '1'
NamespaceIndentation: None
PenaltyReturnTypeOnItsOwnLine: '1'
SpacesBeforeTrailingComments: '2'
Standard: Cpp11
TabWidth: '2'
UseTab: Never

...
